body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #15719f;
}

.container {
    text-align: center;
    color: rgb(14, 1, 1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}



.weather-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.temp {
    font-size: 2em;
}

img {
    width: 80px;
    height: 80px;
}
.show{
    margin-top: 4rem;
}
.fa-heart{
    color: red;
    font-size: 1.5em;
    margin-left: 10px;  
}
@keyframes pulse {
    0%{
        scale:1;
    }
    50%{
        scale:1.1;
    }       
    100%{
        scale:1;
    }
}
.pavanlove{
    animation: pulse 1s infinite;
    color: red;
    font-size: 1.5em;
    margin-left: 10px;
}
.weatherButton {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.weatherButton:active {
  box-shadow: 2px 2px 5px #fc894d;
}



