body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    color: rgb(14, 1, 1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    background: #ff9800;
    color: rgb(18, 3, 3);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.weather-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.temp {
    font-size: 2em;
}

img {
    width: 80px;
    height: 80px;
}
.show{
    margin-top: 4rem;
}
.fa-heart{
    color: red;
    font-size: 1.5em;
    margin-left: 10px;  
}
@keyframes pulse {
    0%{
        scale:1;
    }
    50%{
        scale:1.1;
    }       
    100%{
        scale:1;
    }
}
.pavanlove{
    animation: pulse 1s infinite;
    color: red;
    font-size: 1.5em;
    margin-left: 10px;
}

.joinBtn:hover {
    background-color: rgb(232, 183, 123);
  }